<p id="notice"><%= notice %></p>

<h1>Leaderboard Entries</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaderboard_entries.each do |leaderboard_entry| %>
      <tr>
        <td><%= leaderboard_entry.username %></td>
        <td><%= leaderboard_entry.score %></td>
        <td><%= link_to 'Destroy', [@leaderboard, leaderboard_entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Scores', @leaderboard %>
